# Rust build artifacts
/target

# VS Code settings
/.vscode

# CLion
**/.idea

# Jupyter notebooks
plotting/.ipynb_checkpoints

# Python cache
**/__pycache__

# Development notes
/notes

/eclair-gui/cmake-build-*
