<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ candidate_name }} vs {{ reference_name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <style>
        .tabcontent {
            display: none;
        }

        #common {
            display: block;
        }
    </style>
    <link rel="stylesheet" href="dist/uPlot.min.css">
    <script src="dist/uPlot.iife.min.js"></script>
</head>

<body>
<section class="section">
    <div class="container">
        <h1 class="title is-4">
            Diff between {{ candidate_name }} and {{ reference_name }}
        </h1>
        <div class="tabs">
            <ul>
                <li class="tablinks is-active" onclick="openTab(event, 'common')"><a>Common items</a>
                </li>
                <li class="tablinks" onclick="openTab(event, 'first-model')"><a>{{ candidate_name }} items</a></li>
                <li class="tablinks" onclick="openTab(event, 'second-model')"><a>{{ reference_name }} items</a></li>
            </ul>
        </div>
        <div id="first-model" class="tabcontent">
            <h3 class="title is-5">{{ candidate_name }} items</h3>
            <p>Hi there!</p>
        </div>
        <div id="second-model" class="tabcontent">
            <h3 class="title is-5">{{ reference_name }} items</h3>
            <p>I like turtles!</p>

        </div>
        <div id="common" class="tabcontent">
            <script>
                function wheelZoomPlugin() {
                    return {
                        hooks: {
                            ready: u => {
                                let plot = u.root.querySelector(".u-over");
                                plot.getBoundingClientRect();

                                // Shift+Left Button drag
                                plot.addEventListener("mousedown", e => {
                                    if (e.button === 1) {
                                        e.preventDefault();

                                        let left0 = e.clientX;

                                        let scXMin0 = u.scales.x.min;
                                        let scXMax0 = u.scales.x.max;

                                        let xUnitsPerPx = u.posToVal(1, 'x') - u.posToVal(0, 'x');

                                        let top0 = e.clientY;

                                        let scYMin0 = u.scales.y.min;
                                        let scYMax0 = u.scales.y.max;

                                        let yUnitsPerPx = u.posToVal(1, 'y') - u.posToVal(0, 'y');

                                        function onmove(e) {
                                            e.preventDefault();

                                            let left1 = e.clientX;

                                            let dx = xUnitsPerPx * (left1 - left0);

                                            u.setScale('x', {
                                                min: scXMin0 - dx,
                                                max: scXMax0 - dx,
                                            });

                                            let top1 = e.clientY;

                                            let dy = yUnitsPerPx * (top1 - top0);

                                            u.setScale('y', {
                                                min: scYMin0 - dy,
                                                max: scYMax0 - dy,
                                            });
                                        }

                                        function onup(e) {
                                            document.removeEventListener("mousemove", onmove);
                                            document.removeEventListener("mouseup", onup);
                                        }

                                        document.addEventListener("mousemove", onmove);
                                        document.addEventListener("mouseup", onup);
                                    }
                                });
                            }
                        }
                    };
                }

                let longDateHourMin = uPlot.fmtDate('{YYYY}-{MM}-{DD} {h}:{mm}{aa}');

                let cursor_opts = {
                    drag: {
                        x: true,
                        y: true,
                        uni: 50,
                        dist: 10
                    },
                    dataIdx: (self, seriesIdx, hoveredIdx) => {
                        let seriesData = self.data[seriesIdx];

                        if (seriesData[hoveredIdx] == null) {
                            let nonNullLft = hoveredIdx,
                                nonNullRgt = hoveredIdx,
                                i;

                            i = hoveredIdx;
                            while (nonNullLft === hoveredIdx && i-- > 0)
                                if (seriesData[i] != null)
                                    nonNullLft = i;

                            i = hoveredIdx;
                            while (nonNullRgt === hoveredIdx && i++ < seriesData.length)
                                if (seriesData[i] != null)
                                    nonNullRgt = i;

                            return nonNullRgt - hoveredIdx > hoveredIdx - nonNullLft ? nonNullLft : nonNullRgt;
                        }

                        return hoveredIdx;
                    }
                };
            </script>

            {% for plot in common_plots %}

            <div id="plot_{{loop.index}}" style="height:100%; width:100%; padding-bottom: 10pt"></div>
            <script>
                let plot_div_{{loop.index}} = document.querySelector("#plot_{{loop.index}}");

                let data_{{loop.index}} = [
                    {{plot.data()}}
                ];

                let u_{{loop.index}} = new uPlot(
                    {
                    title: "{{ plot.title }}",
                    id: "plot_{{loop.index}}",
                    plugins: [
                        wheelZoomPlugin()
                    ],
                    height: 400,
                    width: 1200,
                    series: [{
                        label: "Date",
                    },
                        {
                            label: "Candidate",
                            stroke: "red",
                            spanGaps: true,
                            values: (u, sidx, idx) => {
                                let date = new Date(data_{{loop.index}}[0][idx] * 1e3);

                                return {
                                    Time: longDateHourMin(date),
                                    Value: data_{{loop.index}}[sidx][idx],
                                };
                            },
                        },
                        {
                            label: "Reference",
                            stroke: "blue",
                            spanGaps: true,
                            values: (u, sidx, idx) => {
                                let date = new Date(data_{{loop.index}}[0][idx] * 1e3);

                                return {
                                    Time: longDateHourMin(date),
                                    Value: data_{{loop.index}}[sidx][idx],
                                };
                            },
                        }
                    ],
                    axes: [{
                        label: "Date",
                    },
                        {
                            label: "{{ plot.y_label }}",
                            size: 80,
                            values: (self, ticks) => ticks.map(rawValue => rawValue.toExponential(2)),
                        }
                    ],
                    cursor: cursor_opts,
                }, data_{{loop.index}}, plot_div_{{loop.index}});
            </script>
            {% endfor %}
        </div>
    </div>
</section>
<script>
    function openTab(event, tabId) {
        // hide all elements
        Array.prototype.map.call(document.getElementsByClassName('tabcontent'),
            element => {
                element.style.display = 'none';
            });

        // unset active tab
        Array.prototype.map.call(document.getElementsByClassName('tablinks'),
            element => {
                element.className = element.className.replace(' is-active', '');
            });

        // set active tab
        document.getElementById(tabId).style.display = 'block';
        event.currentTarget.className += ' is-active';
    }
</script>
</body>

</html>